/* .vitepress/theme/custom.css */
@import "global.css";
@import "code-table.css";
@import "content.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");


:root {
  --global-font: "Noto Serif SC", "MicroSoft Yahei", serif;
  --heading-font: "Noto Sans SC", "MicroSoft Yahei", serif;
  --main-color: #0e9b96;
  --color-gray: #666;
  --color-dark: #282c34;
  --color-black: #000;
  --color-text: #030d14;
  --code-font-family: "Space Mono", "MicroSoft Yahei", serif;
  --scrollbar-color: #0e9b96;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
