/* .vitepress/theme/custom.css */
@import "global.css";
@import "code-table.css";
@import "content.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

:root {
  --global-font: "Noto Serif SC", "MicroSoft Yahei", serif;
  --heading-font: "Noto Sans SC", "MicroSoft Yahei", serif;
  --code-font-family: "Space Mono", "MicroSoft Yahei", serif;
}

:root {
  --main-color: #478384;
  --light-color: #44617b;
  --second-color: #887f7a;
  /* --bg-color: #fff; */
  --bg-color: #203744;
  --color-gray: #666;
  --color-dark: #282c34;
  --color-black: #000;
  /* --color-text: #2c2e2f; */
  --color-text: #e8ecef;
  --code-span-color: #345162;
  --color-border: #000;
  --code-font-size: 0.6rem;
  --scrollbar-color: #ffffff;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (max-width: 1280px) {
  .title {
    font-size: 1.5rem;;
  }
}